*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto;
}

.cards-black {
  position: relative;
  width: 400px;
  height: 450px;
  border-radius: 30px;
  background: #232224;
  box-shadow: 16px 16px 35px 0px rgba(0, 0, 0, 0.09);

  margin-left: 30%;
}

.cards-dark{
  position: relative;
  width: 400px;
  height: 450px;
  border-radius: 30px;
  background: #232639;
  box-shadow: 16px 16px 35px 0px rgba(0, 0, 0, 0.09);

  margin-left: 30%;

}

.cards-lite{
  position: relative;
  width: 400px;
  height: 450px;
  border-radius: 30px;
  background: #FBFBFB;
  box-shadow: 16px 16px 35px 0px rgba(0, 0, 0, 0.09);

  margin-left: 30%;


}



.card-image {
  padding-top: 30px;

  padding-left: 15px;
}



.like-comment {
  content: "";
  position: absolute;
  display: flex;
  gap: 30px;
  justify-content: center;
  margin-left: 65px;
  top: 210px;
}

.like {
  display: flex;
  width: 120px;
  height: 40px;
  border-radius: 10px;
background: #373737;
align-items: center;
gap: 10px;
justify-content: center;
}

.like-txt {
  color: #CECECE;

font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
}



.comment{
  display: flex;

width: 120px;
height: 40px;
border-radius: 10px;
background: #373737;
align-items: center;
gap: 10px;
justify-content: center;
}

.comment-txt {
  color: #CECECE;

font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
}

.card-h3 {
  color: #CECECE;

font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: normal;
  margin-top: 20px;
  margin-left: 25px;
  margin-bottom: 6px;


}

.card-p {
  color: #CECECE;
  margin-left: 25px;
}

.card-end {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 10px;
  align-items: center;
}

 .cards-black input{


width: 275px;
height: 50px;
flex-shrink: 0;
background-color: #373737;
border:none;
border-radius: 5px;
padding: 15px 20px;
color: white;
outline: none;


}


.cards-dark input{


  width: 275px;
  height: 50px;
  flex-shrink: 0;
  background-color: #42445D;
  border:none;
  border-radius: 5px;
  padding: 15px 20px;
  color: white;
  outline: none;


  }

  .cards-lite input{


    width: 275px;
    height: 50px;
    flex-shrink: 0;
    background-color: #FFF;
    border:none;
    border-radius: 5px;
    padding: 15px 20px;
    color: black;
    outline: none;


    }






.icon-right button {
  width: 60px;
height: 50px;
flex-shrink: 0;
background-color: #644DEA;
border-radius: 5px;
border: none;

text-align: center;
}